** {
    font-family: "KoHo", sans-serif;
    font-weight: 200;
    font-style: normal;
}

/* Seção de Boas-Vindas */
.boas-vindas {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.painel-direito {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

/*Frase Boas-Vindas*/
.boas-vindas {
    background-color: #312C4B;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    font-family:"KoHo", sans-serif;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Frase sobre a biblioteca*/
.frase-bv{
    color: #333333;
    font-size: 20px;
    font-family: "KoHo", sans-serif;  
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: center;
}

.painel-central {
    position: relative;
    width: 100%;
}

/* Imagem do Livro Aberto */
.painel-central img {
    text-align: center;
}

/*imagem do Livro Aberto*/
img {
    text-align: center;
    margin-top: -125px;
    width: 656px;
    height: 699px;
    margin-left: 380px;
}

/*frase embaixo do livro*/
.painel-central p {
    position: absolute;
    top: 65%; /* Move o texto para o centro vertical */
    left: 29.5%;
    color: #333333;
    font-size: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
